:root {
    --g1: #E33FD3;
    --g2: #913FE3;
  }
body {
    display: grid;
    background-color: rgb(20, 20, 20);
    grid-template-columns: 1fr 400px 1fr ;
    grid-template-rows: 1fr 500px 1fr;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 40px;
    height: auto;
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }

.content{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
}

.display {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    background-color: #4d4d4d;
}
.equation {
    font-size: 35px;
    margin: 20px;
    color: #787878;
}
.answer {
    font-size: 60px;
    color: #eeeeee;
    display: flex;
    justify-content: right;
    margin: 20px;
    margin-top: auto;
}
.container{
    border-radius: 0px 0px 15px 15px;
    position: relative;
    flex: 350px;
    background-color: #453e47;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 4px;
    margin: 7px;
}
.background{
    
    border-radius: 10px;
    position: absolute;
    inset: 5px;
    animation: background-pan 5s linear infinite;
    background: linear-gradient(
      to right,
      var(--g1),
      var(--g2),
      var(--g1)
    );
    background-size: 200%;
    overflow: hidden;
    margin: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    
}
.button {
    font-size: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
    color: #eeeeee;
    height: 62px;
    width: 91px;
    background-color: #453e47;
    transition: 0.3s ;
}
.button:hover{
    background-color: #655A68;
}

#Github{
    font-size: 20px;
    grid-column: 1/3;
    width: 186px;
}

#Github:hover{
    background-color: #eeeeee;
    color: #913FE3;
    
}
.footer{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.delete-buttons{
    font-size: 32px;
    background-color: #278BE880;
}

.delete-buttons:hover{
    background-color: #6AB8FF80;
}


.operator{
    background-color: #453e47c0;
}

.operator:hover{
    background-color: #655A68c0;
}
#equal{
    background-color: #453E4780;
}
#equal:hover{
    background-color: #655A6880;
}