:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
  }
body {
    display: grid;
    background-color: rgb(20, 20, 20);
    grid-template-columns: 1fr 400px 1fr ;
    grid-template-rows: 1fr 500px 1fr;
}


.content{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
}

.display {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    background-color: #575c64;
}
.equation {
    margin: 20px;
    color: #eeeeee;
}
.answer {
    color: #eeeeee;
    display: flex;
    justify-content: right;
    margin: 20px;
    margin-top: auto;
}
.container{
    border-radius: 0px 0px 15px 15px;
    position: relative;
    flex: 350px;
    background-color: #453e47;
}
.button-container {
    display: grid;
    border-radius: 10px;
    position: absolute;
    inset: 5px;
    background-color: blueviolet;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    
}
.button {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
    color: #eeeeee;
    height: 62px;
    width: 91px;
    background-color: #453e47;
}

#Github{
    grid-column: 1/3;
    width: 184px;
    
}
.footer{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 20px;
    text-align: center;
    color: white;
}